.button {
  border: 0;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 8px;
  color: var(--gray-100);
  background-color: var(--blue-dark);
  cursor: pointer;
  transition: background-color 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.button:hover {
  background-color: var(--blue)
}
.button:disabled {
  background-color: var(--blue-dark);
  cursor: not-allowed;
}